@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Cairo", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px white inset !important;
}

@media (max-width: 640px) {
  .dark table thead tr th:first-of-type,
  .dark table tbody tr td:first-of-type {
    position: sticky;
    right: 0;
    background: #1f2937;
  }
  table thead tr th:first-of-type,
  table tbody tr td:first-of-type {
    position: sticky;
    right: 0;
    background: #fff;
    color: #000;
  }
}

nav.navbar a {
  padding: 10px 8px;
  background: #ababab;
  border-radius: 5px;
  color: #ffffff;
}
nav.navbar a.active {
  background: #0098ec;
  padding: 10px 8px;
  border-radius: 5px;
  color: #ffffff;
}
.dark input,
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  background: #111827 !important;
  -webkit-box-shadow: 0 0 0 40px #111827 inset !important;
  color: #ffffff !important;
}

.dark select {
  background: #111827 !important;
  color: #ffffff !important;
}
.date-filters input {
  width: 85px;
}
.dark nav.navbar a {
  background: #1f2937;
}

.dark nav.navbar a.active {
  background: #3b82f6;
}
